* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;

}

.elips {
  display: block;
  white-space: nowrap;
  width: 15em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elips-p {
  display: block;
  white-space: nowrap;
  width: 24em;
  overflow: hidden;
  text-overflow: ellipsis;

}